<nav class="navbar navbar-primary border-bottom bg-light">
  <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-balance-scale text-secondary"
    aria-hidden="true" style="font-size:30px;"></i></a>
  <form class="form-inline mx-auto">
  <a class="btn btn-outline-success border-0" type="button" href="{% url 'addtemplates' %}">New Template</a>
  <div class="border" style="height:30px;"> </div>
  <a class="btn btn btn-outline-secondary border-0" type="button">Use Template</a>
</form>
</nav>
